---
import IndexSection1Component from "../components/IndexSection1Component.astro";
import IndexSection2Component from "../components/IndexSection2Component.astro";
import IndexBackgroundComponent from "../components/IndexBackgroundComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Guadalupe XXIX">
  <div class="scroll-container">
    <IndexBackgroundComponent />
    <IndexSection1Component />
    <IndexSection2Component />
  </div>

  <script>
    function setVH() {
      var vh = window.innerHeight * 0.01;
      var vhpx = `${vh}px`;
      document.documentElement.style.setProperty("--vh", vhpx);
    }

    setVH();
    window.addEventListener("resize", setVH);

    const scrollContainer = document.querySelector(".scroll-container");
    const ground1 = document.getElementById("ground-1");
    const ground2 = document.getElementById("ground-2");
    const ground3 = document.getElementById("ground-3");
    const people = document.getElementById("people");
    const groundContinue = document.getElementById("ground-continue");

    if (
      !scrollContainer ||
      !ground1 ||
      !ground2 ||
      !ground3 ||
      !people ||
      !groundContinue
    ) {
      throw new Error("Could not find one of the elements");
    }

    const scrollContainerHeight = scrollContainer.clientHeight;

    scrollContainer.addEventListener("scroll", () => {
      const scroll = scrollContainer.scrollTop;
      var normalizedScroll = scroll / scrollContainerHeight;

      if (normalizedScroll > 1) {
        normalizedScroll = 1;
      }

      const newBottomValueGround1 = 50 + normalizedScroll * 2;
      const newBottomValueGround2 = 50 + normalizedScroll * 4;
      const newBottomValueGround3 = 50 + normalizedScroll * 6;
      const newBottomValuePeople = 50 + normalizedScroll * 6;
      const newHeightValueGroundContinue = 51 + normalizedScroll * 6;

      ground1.style.bottom = `${newBottomValueGround1}%`;
      ground2.style.bottom = `${newBottomValueGround2}%`;
      ground3.style.bottom = `${newBottomValueGround3}%`;
      people.style.bottom = `${newBottomValuePeople}%`;
      groundContinue.style.height = `${newHeightValueGroundContinue}%`;
    });
  </script>
</BaseLayout>
